version: "3.9"

services:
  app:
    build: .
    container_name: node-backend
    restart: always
    ports:
      - "3000:3000"

    env_file:
      - .env

    environment:
      NODE_ENV: production
      
      MONGO_URL: ${MONGO_URL}
      POSTGRESQL_URL: ${POSTGRESQL_URL}
      apiVersion: ${apiVersion}
      JWT_SECRET: ${JWT_SECRET}

      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      AWS_REGION: ${AWS_REGION}
      AWS_S3_BUCKET_NAME: ${AWS_S3_BUCKET_NAME}

      GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
      GOOGLE_CLIENT_SECRET: ${GOOGLE_CLIENT_SECRET}
      GOOGLE_CALLBACK_URI: ${GOOGLE_CALLBACK_URI}
      FRONTEND_URL: ${FRONTEND_URL}
